<div class="subscribe-page">
    <div [ngClass.gt-xs]="'wrapper'">
        <div class="banner-section" fxLayout="column" [fxLayout.gt-xs]="'row'" [ngStyle.sm]="{position: 'relative'}">
            
            <img src="assets/images/course-image.png" alt="Course" fxFlex="100" [fxFlex.gt-sm]="'40'" />
            
            <div class="details-section" fxFlex="100" [fxFlex.gt-sm]="60" [ngClass.sm]="'positioned-details-section'">
                <h1>Influence without authority</h1>
                <p><em>September Sessione </em></p>
                <div class="berlitz-row" fxLayout fxLayoutGap="15px" >
                    <img src="assets/images/place-image.png" alt="Berlitz">
                    <span fxFlexAlign="center">Berlitz</span>
                </div>
                <div class="bottom-section" fxLayout="column" fxFlexAlign="end" [ngStyle.gt-xs]="{position: 'absolute'}">
                    <ul class="p-0" fxLayout>
                        <li>
                            <span class="label">DA: </span>
                            <span class="value">{{displayPrice | currency: 'EUR':'symbol'}}</span>
                        </li>
                        <li>
                            <span class="label">Durata: </span>
                            <span class="value">{{duration}} HRS</span>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>

        <div class="content">
            <div>
                <h6 class="mb-0">ORGANIZZATO DA:</h6>
                <p>Berlitz Language Centers S.r.l.</p>
            </div>
            <mat-divider></mat-divider>

            <div>
                <h6 class="mb-0">DATA</h6>
                <p>dal {{fromDate}} al {{toDate}}</p>
                <p>{{duration}} Hours</p>
                <p [ngStyle]="{color: '#af1a1a'}">Mostra Date</p>
            </div>
            <mat-divider></mat-divider>

            <form [formGroup]="subscribeForm">
            <div fxLayout [fxLayout.lt-sm]="'column-reverse'">
                <div fxLayout fxLayoutGap="50px" fxFlex="60" >
                    <div>
                        <h6>PREZZO</h6>
                        <p>{{price | currency: 'EUR': 'symbol'}} (IVA Inclusa)</p>
                    </div>
                    <div>
                        <h6>CODICE SCONTO/VOUCHER</h6>
                        <mat-form-field>
                            <input matInput type="text" formControlName="voucherCode" />
                            <mat-hint *ngIf="isCodeValid">Code applied</mat-hint>
                            <mat-error *ngIf="!isCodeValid">
                                Code is not valid
                            </mat-error>
                        </mat-form-field>

                        <button mat-raised-button (click)="apply()">Applica</button>
                    </div>
                </div>

                <div >
                    <div>
                        <h6>PARTECIPANTI</h6>
                        <mat-checkbox formControlName="checkbox" >L'iscrizione è per me</mat-checkbox>
                        
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Numero di Partecipanti</mat-label>
                            <mat-select formControlName="partiNumber" (selectionChange)="getNumberParticipant()">
                              <mat-option *ngFor="let n of [].constructor(10); let i = index" [value]="i+1">
                                {{i+1}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    
                </div>
                
            </div>
        </form>
            

        </div>
    </div>
</div>
