.details-section {
    background: #f0f0f0;
}

.positioned-details-section {
    position: absolute;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.bottom-section ul li {
    color: #af1a1a;
}

/* form div:first-child {
    justify-content: space-evenly;
} */
