header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 180px;
}

.logo img {
    width: 100%;
}

.menu-list a {
    text-transform: uppercase;
}

.menu-icon {
    display: none;
}

.active {
    border: 1px solid #000;
    border-radius: 25px;
}
