.details-section {
    background: #414141;
    color: #fff;
    position: relative;
}


/* .banner-section img {
    width: 100%;
} */

h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 0;
}


span.value {
    font-weight: 700;
}

.details-section p {
    font-size: 0.8rem;
    text-align: center;
}

.bottom-section {
    /* position: absolute; */
    bottom: 6px;
    margin-right: 15px;
}

.concept-section {
    margin-top: 35px;
}

.concept-section ul li {
    margin-bottom: 12px;
}

.positioned-details-section {
    position: absolute;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.footer-button {
    position: fixed;
    bottom: 0;
    padding: 4%;
    width: 92%;
    z-index: 10;
    background: #fff;
    text-align: center;
}

.footer-button button {
    width: 100%;
    background-color: #af1a1a;
    color: #fff;
}