<div class="home-page">
    <div class="wrapper">
        <div class="banner-section" fxLayout="row" >
            <img src="assets/images/course-image.png" alt="Course" fxFlex="70">
            <div class="details-section">
                <h1>Influence without authority</h1>
                <div class="berlitz-row" fxLayout fxLayoutGap="30px" >
                    <img src="assets/images/place-image.png" alt="Berlitz">
                    <span fxFlexAlign="center">Berlitz</span>
                </div>
                <div class="bottom-section" fxLayout="column" fxFlexAlign="end">
                    <ul class="p-0" fxLayout>
                        <li>
                            <span class="label">DA: </span>
                            <span class="value">{{price | currency: 'EUR':'symbol'}}</span>
                        </li>
                        <li>
                            <span class="label">Durata: </span>
                            <span class="value">{{duration}} HRS</span>
                        </li>
                    </ul>
                    <button mat-raised-button>Iscriviti</button>
                    <p>Paga con Carta di Credito o Bonifico Online. Hai un voucher?</p>
                </div>
            </div>
        </div>
    </div>
</div>

