<div class="home-page">
    <div class="wrapper">
        <div class="banner-section">
            <img src="assets/images/course-image.png" alt="Course">
            <div class="details-sections">
                <h1>Influence without authority</h1>
                <div>
                    <img src="assets/images/place-image.png" alt="">
                    <span>Berlitz</span>
                </div>
                <div>
                    <ul>
                        <li>
                            <span class="label">DA: </span>
                            <span class="value">{{price | currency: 'EUR':'symbol'}}</span>
                        </li>
                        <li>
                            <span class="label">Durata: </span>
                            <span class="value">{{duration}} HRS</span>
                        </li>
                    </ul>
                    <button mat-raised-button>Iscriviti</button>
                    <p>Paga con Carta di Credito o Bonifico Online. Hai un voucher?</p>
                </div>
            </div>
        </div>
    </div>
</div>

