.details-section {
    background: #414141;
    padding: 15px;
    color: #fff;
}

h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 0;
}

ul li {
    margin-right: 15px;
    list-style-type: none;
}

span.label {

}

span.value {
    font-weight: 700;
}

.details-section p {
    font-size: 0.8rem;
    text-align: center;
}

.bottom-section {
    /* align-items: flex-end; */
}

.concept-section ul li {
    margin-bottom: 12px;
}