a {
    text-decoration: none;
    color: #000;
}

.mat-nav-list .mat-list-item:hover {
    background-color: none;
}
 
a:hover, a:active{
    text-decoration: underline;
    color: #af1a1a;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.right {
    float: right;
}

div {
    padding-top: 20px;
}