/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar.mat-primary {
    background-color: #fff;
    color: #000;
}

/* Coomomn style  */

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.box-shadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-0 {
    padding: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.details-section .berlitz-row img {
    width: 80px;
}

.content {
    padding: 0 10px 6rem;
}

button .mat-raised-button {
    color: #af1a1a;
}

.main-content {
    padding-top: 64px;
}

h2 {
    color: #af1a1a;
}

h4 {
    margin-top: 10px;
}

h6 {
    color: #8f8c8c;
}

.event-details p {
    margin-top: 5px;
}

.event-details span.address {
    font-size: 0.7rem ;
}

.banner-section ul li {
    margin-right: 15px;
    list-style-type: none;
}

.details-section {
    padding: 15px;
}

.positioned-details-section {
    position: absolute;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
